---
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Diccionario</title>
	</head>
	<body>
		<h1>Listado de palabras de 5 letras</h1>
		<button id="buttonRandom" class="bg-green-400 rounded-full px-4 py-1">Palabra aleatoria</button>
		<div id="palabra" class="mx-10">
			<!-- {list_word.map((item) => (
				<p>{item.word}</p>
			))} -->
		</div>
	</body>
</html>

<script type="text/javascript">
	const palabra = document.querySelector('#palabra');
	const buttonRandom = document.querySelector('#buttonRandom');
	
	buttonRandom.addEventListener('click', () => {
		let list_word = [
			{ word: 'abaco' },
			{ word: 'abren' },
			{ word: 'acaso' },
			{ word: 'acata' },
			{ word: 'acato' },
			{ word: 'acera' },
			{ word: 'acero' },
			{ word: 'acoja' },
			{ word: 'acojo' },
			{ word: 'acres' },
			{ word: 'actas' },
			{ word: 'actua' },
			{ word: 'actuo' },
			{ word: 'acuñe' },
			{ word: 'adobe' },
			{ word: 'aduce' },
			{ word: 'aerea' },
			{ word: 'agape' },
			{ word: 'agata' },
			{ word: 'agora' },
			{ word: 'agote' },
			{ word: 'aguda' },
			{ word: 'aires' },
			{ word: 'ajuar' },
			{ word: 'alces' },
			{ word: 'alcor' },
			{ word: 'alias' },
			{ word: 'aloja' },
			{ word: 'altos' },
			{ word: 'amaga' },
			{ word: 'amaño' },
			{ word: 'ambar' },
			{ word: 'amena' },
			{ word: 'anade' },
			{ word: 'anana' },
			{ word: 'anexo' },
			{ word: 'angel' },
			{ word: 'anima' },
			{ word: 'añoso' },
			{ word: 'apela' },
			{ word: 'apice' },
			{ word: 'apnea' },
			{ word: 'apoca' },
			{ word: 'apodo' },
			{ word: 'apuro' },
			{ word: 'arana' },
			{ word: 'araña' },
			{ word: 'arces' },
			{ word: 'arcon' },
			{ word: 'arcos' },
			{ word: 'ardor' },
			{ word: 'arduo' },
			{ word: 'arena' },
			{ word: 'arepa' },
			{ word: 'arpas' },
			{ word: 'arras' },
			{ word: 'arreo' },
			{ word: 'asilo' },
			{ word: 'asomo' },
			{ word: 'astil' },
			{ word: 'ataco' },
			{ word: 'atado' },
			{ word: 'atajo' },
			{ word: 'atico' },
			{ word: 'aupar' },
			{ word: 'aureo' },
			{ word: 'aviar' },
			{ word: 'azota' },
			{ word: 'azote' },
			{ word: 'babel' },
			{ word: 'bacan' },
			{ word: 'bajel' },
			{ word: 'balon' },
			{ word: 'banal' },
			{ word: 'baños' },
			{ word: 'baron' },
			{ word: 'batas' },
			{ word: 'batel' },
			{ word: 'bates' },
			{ word: 'bayas' },
			{ word: 'beato' },
			{ word: 'bebes' },
			{ word: 'bedel' },
			{ word: 'besos' },
			{ word: 'betun' },
			{ word: 'bidon' },
			{ word: 'birla' },
			{ word: 'bodas' },
			{ word: 'bonos' },
			{ word: 'boyas' },
			{ word: 'bozal' },
			{ word: 'brida' },
			{ word: 'broca' },
			{ word: 'budin' },
			{ word: 'burla' },
			{ word: 'busca' },
			{ word: 'cabal' },
			{ word: 'cafes' },
			{ word: 'caida' },
			{ word: 'cajas' },
			{ word: 'calar' },
			{ word: 'calma' },
			{ word: 'canal' },
			{ word: 'canas' },
			{ word: 'canon' },
			{ word: 'cansa' },
			{ word: 'cariz' },
			{ word: 'casal' },
			{ word: 'casar' },
			{ word: 'casco' },
			{ word: 'casta' },
			{ word: 'catan' },
			{ word: 'catar' },
			{ word: 'catre' },
			{ word: 'cauto' },
			{ word: 'cejas' },
			{ word: 'celar' },
			{ word: 'cerda' },
			{ word: 'cerdo' },
			{ word: 'cesto' },
			{ word: 'chapa' },
			{ word: 'chile' },
			{ word: 'china' },
			{ word: 'cieno' },
			{ word: 'cirro' },
			{ word: 'clase' },
			{ word: 'clima' },
			{ word: 'cloro' },
			{ word: 'colas' },
			{ word: 'colmo' },
			{ word: 'copar' },
			{ word: 'copas' },
			{ word: 'copos' },
			{ word: 'coral' },
			{ word: 'Coran' },
			{ word: 'Corea' },
			{ word: 'corre' },
			{ word: 'corza' },
			{ word: 'craso' },
			{ word: 'creer' },
			{ word: 'crema' },
			{ word: 'criba' },
			{ word: 'cromo' },
			{ word: 'cruje' },
			{ word: 'cubil' },
			{ word: 'cuida' },
			{ word: 'cunas' },
			{ word: 'cupon' },
			{ word: 'dalia' },
			{ word: 'daños' },
			{ word: 'datar' },
			{ word: 'datos' },
			{ word: 'deben' },
			{ word: 'debes' },
			{ word: 'densa' },
			{ word: 'diosa' },
			{ word: 'docto' },
			{ word: 'doler' },
			{ word: 'domar' },
			{ word: 'donar' },
			{ word: 'dotes' },
			{ word: 'draga' },
			{ word: 'drena' },
			{ word: 'echar' },
			{ word: 'edita' },
			{ word: 'educa' },
			{ word: 'ejote' },
			{ word: 'eleva' },
			{ word: 'elige' },
			{ word: 'elote' },
			{ word: 'eluda' },
			{ word: 'email' },
			{ word: 'emana' },
			{ word: 'emite' },
			{ word: 'enano' },
			{ word: 'enema' },
			{ word: 'enojo' },
			{ word: 'entra' },
			{ word: 'entre' },
			{ word: 'entro' },
			{ word: 'enves' },
			{ word: 'envio' },
			{ word: 'equis' },
			{ word: 'ergui' },
			{ word: 'erizo' },
			{ word: 'eroga' },
			{ word: 'errar' },
			{ word: 'error' },
			{ word: 'esmog' },
			{ word: 'esnob' },
			{ word: 'espia' },
			{ word: 'estar' },
			{ word: 'estoy' },
			{ word: 'estro' },
			{ word: 'etapa' },
			{ word: 'etnia' },
			{ word: 'evade' },
			{ word: 'evita' },
			{ word: 'evoca' },
			{ word: 'exige' },
			{ word: 'exime' },
			{ word: 'extra' },
			{ word: 'facil' },
			{ word: 'faena' },
			{ word: 'fajar' },
			{ word: 'falaz' },
			{ word: 'falda' },
			{ word: 'fallo' },
			{ word: 'FALSO' },
			{ word: 'fango' },
			{ word: 'fardo' },
			{ word: 'farol' },
			{ word: 'faros' },
			{ word: 'farsa' },
			{ word: 'fases' },
			{ word: 'fasto' },
			{ word: 'fatal' },
			{ word: 'fauna' },
			{ word: 'favor' },
			{ word: 'fecha' },
			{ word: 'feliz' },
			{ word: 'feria' },
			{ word: 'feroz' },
			{ word: 'fibra' },
			{ word: 'ficha' },
			{ word: 'fijar' },
			{ word: 'final' },
			{ word: 'finca' },
			{ word: 'firma' },
			{ word: 'fisga' },
			{ word: 'flaco' },
			{ word: 'fleco' },
			{ word: 'flojo' },
			{ word: 'flota' },
			{ word: 'flujo' },
			{ word: 'fobia' },
			{ word: 'folio' },
			{ word: 'fondo' },
			{ word: 'forma' },
			{ word: 'forro' },
			{ word: 'fosil' },
			{ word: 'frase' },
			{ word: 'freir' },
			{ word: 'freno' },
			{ word: 'fruto' },
			{ word: 'fuego' },
			{ word: 'fuera' },
			{ word: 'fugar' },
			{ word: 'funda' },
			{ word: 'furor' },
			{ word: 'fusta' },
			{ word: 'futil' },
			{ word: 'gaban' },
			{ word: 'gafar' },
			{ word: 'gafas' },
			{ word: 'gaita' },
			{ word: 'galan' },
			{ word: 'galas' },
			{ word: 'gallo' },
			{ word: 'ganar' },
			{ word: 'ganas' },
			{ word: 'ganga' },
			{ word: 'ganso' },
			{ word: 'gañir' },
			{ word: 'garra' },
			{ word: 'garza' },
			{ word: 'gasas' },
			{ word: 'gasto' },
			{ word: 'gemas' },
			{ word: 'gemir' },
			{ word: 'genio' },
			{ word: 'gente' },
			{ word: 'gesto' },
			{ word: 'girar' },
			{ word: 'globo' },
			{ word: 'gnomo' },
			{ word: 'gofre' },
			{ word: 'goles' },
			{ word: 'golfo' },
			{ word: 'golpe' },
			{ word: 'gordo' },
			{ word: 'gorra' },
			{ word: 'gorro' },
			{ word: 'gotas' },
			{ word: 'gozar' },
			{ word: 'grada' },
			{ word: 'grado' },
			{ word: 'gramo' },
			{ word: 'grano' },
			{ word: 'grasa' },
			{ word: 'grato' },
			{ word: 'grava' },
			{ word: 'grave' },
			{ word: 'greña' },
			{ word: 'grifo' },
			{ word: 'grito' },
			{ word: 'gruño' },
			{ word: 'grupo' },
			{ word: 'guapo' },
			{ word: 'guiar' },
			{ word: 'guiso' },
			{ word: 'gusto' },
			{ word: 'haber' },
			{ word: 'habil' },
			{ word: 'habla' },
			{ word: 'hacer' },
			{ word: 'hacha' },
			{ word: 'hacia' },
			{ word: 'hadas' },
			{ word: 'halar' },
			{ word: 'halla' },
			{ word: 'harto' },
			{ word: 'hasta' },
			{ word: 'hecho' },
			{ word: 'heder' },
			{ word: 'helar' },
			{ word: 'heñir' },
			{ word: 'herir' },
			{ word: 'heroe' },
			{ word: 'hielo' },
			{ word: 'himno' },
			{ word: 'hipar' },
			{ word: 'hobby' },
			{ word: 'hogar' },
			{ word: 'hondo' },
			{ word: 'hongo' },
			{ word: 'horda' },
			{ word: 'hotel' },
			{ word: 'hucha' },
			{ word: 'hueco' },
			{ word: 'huele' },
			{ word: 'hueso' },
			{ word: 'huevo' },
			{ word: 'huida' },
			{ word: 'humor' },
			{ word: 'hunde' },
			{ word: 'huron' },
			{ word: 'hurta' },
			{ word: 'hurto' },
			{ word: 'icono' },
			{ word: 'ideal' },
			{ word: 'idear' },
			{ word: 'ideas' },
			{ word: 'igual' },
			{ word: 'ileso' },
			{ word: 'iluso' },
			{ word: 'imita' },
			{ word: 'impar' },
			{ word: 'impio' },
			{ word: 'islas' },
			{ word: 'istmo' },
			{ word: 'izado' },
			{ word: 'jabon' },
			{ word: 'jadeo' },
			{ word: 'jalar' },
			{ word: 'jaleo' },
			{ word: 'jamar' },
			{ word: 'jamas' },
			{ word: 'jamon' },
			{ word: 'jaque' },
			{ word: 'jarra' },
			{ word: 'jarro' },
			{ word: 'jaula' },
			{ word: 'jefes' },
			{ word: 'jejen' },
			{ word: 'jerga' },
			{ word: 'joven' },
			{ word: 'judio' },
			{ word: 'juega' },
			{ word: 'juego' },
			{ word: 'junto' },
			{ word: 'jurar' },
			{ word: 'justo' },
			{ word: 'juzga' },
			{ word: 'juzgo' },
			{ word: 'jugar' },
			{ word: 'karma' },
			{ word: 'kilos' },
			{ word: 'koala' },
			{ word: 'labio' },
			{ word: 'labor' },
			{ word: 'lacra' },
			{ word: 'lados' },
			{ word: 'lagar' },
			{ word: 'laico' },
			{ word: 'lamer' },
			{ word: 'lanza' },
			{ word: 'lanzo' },
			{ word: 'lapiz' },
			{ word: 'lapso' },
			{ word: 'lares' },
			{ word: 'larga' },
			{ word: 'largo' },
			{ word: 'larva' },
			{ word: 'lasca' },
			{ word: 'latir' },
			{ word: 'laton' },
			{ word: 'lauro' },
			{ word: 'lavar' },
			{ word: 'laxar' },
			{ word: 'lazos' },
			{ word: 'leche' },
			{ word: 'lecho' },
			{ word: 'leere' },
			{ word: 'legal' },
			{ word: 'legar' },
			{ word: 'leido' },
			{ word: 'lejos' },
			{ word: 'lemur' },
			{ word: 'lente' },
			{ word: 'lento' },
			{ word: 'leona' },
			{ word: 'letal' },
			{ word: 'letra' },
			{ word: 'levar' },
			{ word: 'leyes' },
			{ word: 'liado' },
			{ word: 'libar' },
			{ word: 'libra' },
			{ word: 'libre' },
			{ word: 'libro' },
			{ word: 'lider' },
			{ word: 'ligar' },
			{ word: 'lijar' },
			{ word: 'limar' },
			{ word: 'lince' },
			{ word: 'linde' },
			{ word: 'lindo' },
			{ word: 'linea' },
			{ word: 'listo' },
			{ word: 'llama' },
			{ word: 'llano' },
			{ word: 'llave' },
			{ word: 'llega' },
			{ word: 'lleno' },
			{ word: 'llora' },
			{ word: 'local' },
			{ word: 'logra' },
			{ word: 'logro' },
			{ word: 'lonja' },
			{ word: 'luces' },
			{ word: 'lucha' },
			{ word: 'lucir' },
			{ word: 'luego' },
			{ word: 'lugar' },
			{ word: 'lunar' },
			{ word: 'luzca' },
			{ word: 'macha' },
			{ word: 'macho' },
			{ word: 'madre' },
			{ word: 'magia' },
			{ word: 'magno' },
			{ word: 'magro' },
			{ word: 'majar' },
			{ word: 'malla' },
			{ word: 'malva' },
			{ word: 'mamar' },
			{ word: 'mamut' },
			{ word: 'manar' },
			{ word: 'mango' },
			{ word: 'manso' },
			{ word: 'manta' },
			{ word: 'manto' },
			{ word: 'mapas' },
			{ word: 'marca' },
			{ word: 'marco' },
			{ word: 'marea' },
			{ word: 'mareo' },
			{ word: 'marzo' },
			{ word: 'matar' },
			{ word: 'mates' },
			{ word: 'matiz' },
			{ word: 'maton' },
			{ word: 'mayor' },
			{ word: 'mecer' },
			{ word: 'mecha' },
			{ word: 'medio' },
			{ word: 'medir' },
			{ word: 'mejor' },
			{ word: 'memez' },
			{ word: 'menea' },
			{ word: 'meneo' },
			{ word: 'menor' },
			{ word: 'menos' },
			{ word: 'mente' },
			{ word: 'merma' },
			{ word: 'mesas' },
			{ word: 'meses' },
			{ word: 'meson' },
			{ word: 'metal' },
			{ word: 'metas' },
			{ word: 'meter' },
			{ word: 'metro' },
			{ word: 'miedo' },
			{ word: 'migas' },
			{ word: 'miles' },
			{ word: 'mimar' },
			{ word: 'mimos' },
			{ word: 'minar' },
			{ word: 'mirar' },
			{ word: 'mirlo' },
			{ word: 'miron' },
			{ word: 'mismo' },
			{ word: 'mitad' },
			{ word: 'mitin' },
			{ word: 'miton' },
			{ word: 'mixto' },
			{ word: 'modos' },
			{ word: 'mojar' },
			{ word: 'mojon' },
			{ word: 'molar' },
			{ word: 'molde' },
			{ word: 'moler' },
			{ word: 'momia' },
			{ word: 'monja' },
			{ word: 'monje' },
			{ word: 'monos' },
			{ word: 'monte' },
			{ word: 'monto' },
			{ word: 'moral' },
			{ word: 'morar' },
			{ word: 'morbo' },
			{ word: 'morir' },
			{ word: 'morro' },
			{ word: 'mosca' },
			{ word: 'motes' },
			{ word: 'motin' },
			{ word: 'motor' },
			{ word: 'motos' },
			{ word: 'mover' },
			{ word: 'movil' },
			{ word: 'mucho' },
			{ word: 'mudar' },
			{ word: 'mueca' },
			{ word: 'muela' },
			{ word: 'muere' },
			{ word: 'mugir' },
			{ word: 'mugre' },
			{ word: 'mujer' },
			{ word: 'multa' },
			{ word: 'mundo' },
			{ word: 'muñir' },
			{ word: 'mural' },
			{ word: 'murar' },
			{ word: 'musgo' },
			{ word: 'muslo' },
			{ word: 'mutar' },
			{ word: 'mutuo' },
			{ word: 'nacer' },
			{ word: 'nadar' },
			{ word: 'nadie' },
			{ word: 'naipe' },
			{ word: 'nalga' },
			{ word: 'napia' },
			{ word: 'nariz' },
			{ word: 'natal' },
			{ word: 'naval' },
			{ word: 'naves' },
			{ word: 'necio' },
			{ word: 'negar' },
			{ word: 'negro' },
			{ word: 'neura' },
			{ word: 'nevar' },
			{ word: 'nicho' },
			{ word: 'niega' },
			{ word: 'nieto' },
			{ word: 'nieve' },
			{ word: 'nimio' },
			{ word: 'niñez' },
			{ word: 'ninfa' },
			{ word: 'niños' },
			{ word: 'nivel' },
			{ word: 'niveo' },
			{ word: 'noble' },
			{ word: 'noche' },
			{ word: 'noria' },
			{ word: 'norma' },
			{ word: 'norte' },
			{ word: 'notar' },
			{ word: 'notas' },
			{ word: 'novel' },
			{ word: 'novia' },
			{ word: 'novio' },
			{ word: 'nubes' },
			{ word: 'nuera' },
			{ word: 'nuevo' },
			{ word: 'nunca' },
			{ word: 'ñandu' },
			{ word: 'ñoños' },
			{ word: 'oasis' },
			{ word: 'oblea' },
			{ word: 'obrar' },
			{ word: 'obras' },
			{ word: 'obvio' },
			{ word: 'ocaso' },
			{ word: 'odiar' },
			{ word: 'oeste' },
			{ word: 'ogros' },
			{ word: 'oirse' },
			{ word: 'ojala' },
			{ word: 'ojear' },
			{ word: 'ojera' },
			{ word: 'ojota' },
			{ word: 'oliva' },
			{ word: 'ollar' },
			{ word: 'ollas' },
			{ word: 'omiso' },
			{ word: 'ondas' },
			{ word: 'opaco' },
			{ word: 'opalo' },
			{ word: 'opina' },
			{ word: 'optar' },
			{ word: 'orden' },
			{ word: 'orear' },
			{ word: 'oreja' },
			{ word: 'orina' },
			{ word: 'orlar' },
			{ word: 'ornar' },
			{ word: 'oruga' },
			{ word: 'ostra' },
			{ word: 'otear' },
			{ word: 'otero' },
			{ word: 'otoño' },
			{ word: 'oveja' },
			{ word: 'oxear' },
			{ word: 'ozono' },
			{ word: 'pacas' },
			{ word: 'pacer' },
			{ word: 'pacto' },
			{ word: 'padre' },
			{ word: 'pagar' },
			{ word: 'palas' },
			{ word: 'palco' },
			{ word: 'palma' },
			{ word: 'pampa' },
			{ word: 'pañal' },
			{ word: 'panda' },
			{ word: 'panel' },
			{ word: 'panza' },
			{ word: 'papel' },
			{ word: 'parar' },
			{ word: 'parca' },
			{ word: 'parce' },
			{ word: 'parco' },
			{ word: 'pardo' },
			{ word: 'parir' },
			{ word: 'paron' },
			{ word: 'parra' },
			{ word: 'parto' },
			{ word: 'parvo' },
			{ word: 'pasar' },
			{ word: 'paseo' },
			{ word: 'pasmo' },
			{ word: 'pasta' },
			{ word: 'pasto' },
			{ word: 'patan' },
			{ word: 'patin' },
			{ word: 'patio' },
			{ word: 'pausa' },
			{ word: 'pauta' },
			{ word: 'pavor' },
			{ word: 'peaje' },
			{ word: 'peana' },
			{ word: 'pecar' },
			{ word: 'peces' },
			{ word: 'pecho' },
			{ word: 'pedir' },
			{ word: 'pegar' },
			{ word: 'peine' },
			{ word: 'pelar' },
			{ word: 'pelea' },
			{ word: 'pelma' },
			{ word: 'pelos' },
			{ word: 'penal' },
			{ word: 'penar' },
			{ word: 'peñon' },
			{ word: 'peras' },
			{ word: 'perol' },
			{ word: 'perro' },
			{ word: 'pesar' },
			{ word: 'pesca' },
			{ word: 'pesos' },
			{ word: 'peste' },
			{ word: 'petos' },
			{ word: 'pezon' },
			{ word: 'piano' },
			{ word: 'piara' },
			{ word: 'picar' },
			{ word: 'picos' },
			{ word: 'pieza' },
			{ word: 'pifia' },
			{ word: 'pijos' },
			{ word: 'pilar' },
			{ word: 'pillo' },
			{ word: 'pilon' },
			{ word: 'piñon' },
			{ word: 'pinta' },
			{ word: 'pinto' },
			{ word: 'piola' },
			{ word: 'pique' },
			{ word: 'pisar' },
			{ word: 'pisos' },
			{ word: 'pista' },
			{ word: 'pitar' },
			{ word: 'piton' },
			{ word: 'pizca' },
			{ word: 'placa' },
			{ word: 'plaga' },
			{ word: 'plano' },
			{ word: 'plata' },
			{ word: 'plato' },
			{ word: 'playa' },
			{ word: 'plaza' },
			{ word: 'plazo' },
			{ word: 'pleno' },
			{ word: 'plomo' },
			{ word: 'pluma' },
			{ word: 'pobre' },
			{ word: 'pocho' },
			{ word: 'pocos' },
			{ word: 'podar' },
			{ word: 'poder' },
			{ word: 'podio' },
			{ word: 'poema' },
			{ word: 'poeta' },
			{ word: 'polar' },
			{ word: 'pollo' },
			{ word: 'polvo' },
			{ word: 'pomar' },
			{ word: 'pompa' },
			{ word: 'poner' },
			{ word: 'porra' },
			{ word: 'posar' },
			{ word: 'poste' },
			{ word: 'potar' },
			{ word: 'potra' },
			{ word: 'potro' },
			{ word: 'prado' },
			{ word: 'presa' },
			{ word: 'preso' },
			{ word: 'prima' },
			{ word: 'primo' },
			{ word: 'prisa' },
			{ word: 'profe' },
			{ word: 'prole' },
			{ word: 'prosa' },
			{ word: 'pudor' },
			{ word: 'pujar' },
			{ word: 'pulir' },
			{ word: 'pulpa' },
			{ word: 'pulso' },
			{ word: 'puñal' },
			{ word: 'puños' },
			{ word: 'punto' },
			{ word: 'puyar' },
			{ word: 'puzle' },
			{ word: 'quedo' },
			{ word: 'queja' },
			{ word: 'quema' },
			{ word: 'quien' },
			{ word: 'quiza' },
			{ word: 'rabia' },
			{ word: 'racha' },
			{ word: 'rajar' },
			{ word: 'ramal' },
			{ word: 'rampa' },
			{ word: 'rango' },
			{ word: 'rapar' },
			{ word: 'rapaz' },
			{ word: 'rasar' },
			{ word: 'rasgo' },
			{ word: 'raton' },
			{ word: 'rayar' },
			{ word: 'razon' },
			{ word: 'recio' },
			{ word: 'recto' },
			{ word: 'regar' },
			{ word: 'regio' },
			{ word: 'regir' },
			{ word: 'regla' },
			{ word: 'rehen' },
			{ word: 'reina' },
			{ word: 'reino' },
			{ word: 'remar' },
			{ word: 'rengo' },
			{ word: 'reñir' },
			{ word: 'renta' },
			{ word: 'retar' },
			{ word: 'reves' },
			{ word: 'rezar' },
			{ word: 'riada' },
			{ word: 'riego' },
			{ word: 'rifar' },
			{ word: 'rimar' },
			{ word: 'risco' },
			{ word: 'ritmo' },
			{ word: 'rival' },
			{ word: 'rizar' },
			{ word: 'robar' },
			{ word: 'rocin' },
			{ word: 'rocio' },
			{ word: 'rodar' },
			{ word: 'rogar' },
			{ word: 'rolar' },
			{ word: 'rollo' },
			{ word: 'rompe' },
			{ word: 'ronco' },
			{ word: 'ronda' },
			{ word: 'rorro' },
			{ word: 'rosca' },
			{ word: 'rotar' },
			{ word: 'rozar' },
			{ word: 'rubia' },
			{ word: 'rubor' },
			{ word: 'rubro' },
			{ word: 'rueda' },
			{ word: 'rugir' },
			{ word: 'ruido' },
			{ word: 'ruina' },
			{ word: 'rular' },
			{ word: 'rumbo' },
			{ word: 'rumor' },
			{ word: 'rural' },
			{ word: 'saber' },
			{ word: 'sabio' },
			{ word: 'sable' },
			{ word: 'sabor' },
			{ word: 'sacar' },
			{ word: 'sacro' },
			{ word: 'salar' },
			{ word: 'salas' },
			{ word: 'saldo' },
			{ word: 'salir' },
			{ word: 'salon' },
			{ word: 'salsa' },
			{ word: 'salto' },
			{ word: 'salud' },
			{ word: 'salvo' },
			{ word: 'sanar' },
			{ word: 'sanos' },
			{ word: 'santo' },
			{ word: 'sapos' },
			{ word: 'sarao' },
			{ word: 'saten' },
			{ word: 'savia' },
			{ word: 'sazon' },
			{ word: 'secar' },
			{ word: 'secta' },
			{ word: 'segun' },
			{ word: 'sello' },
			{ word: 'selva' },
			{ word: 'senda' },
			{ word: 'señal' },
			{ word: 'señas' },
			{ word: 'señor' },
			{ word: 'seres' },
			{ word: 'serie' },
			{ word: 'serio' },
			{ word: 'sesgo' },
			{ word: 'sesos' },
			{ word: 'siete' },
			{ word: 'siglo' },
			{ word: 'signo' },
			{ word: 'silbo' },
			{ word: 'silla' },
			{ word: 'simil' },
			{ word: 'simio' },
			{ word: 'sismo' },
			{ word: 'sitio' },
			{ word: 'sobar' },
			{ word: 'sobra' },
			{ word: 'sobre' },
			{ word: 'socio' },
			{ word: 'solar' },
			{ word: 'soler' },
			{ word: 'somos' },
			{ word: 'sonar' },
			{ word: 'soñar' },
			{ word: 'sopla' },
			{ word: 'soplo' },
			{ word: 'sopor' },
			{ word: 'sorbo' },
			{ word: 'sorna' },
			{ word: 'suave' },
			{ word: 'subir' },
			{ word: 'sucio' },
			{ word: 'sudar' },
			{ word: 'sudor' },
			{ word: 'suela' },
			{ word: 'suelo' },
			{ word: 'sueño' },
			{ word: 'suero' },
			{ word: 'sufre' },
			{ word: 'sumar' },
			{ word: 'sumir' },
			{ word: 'super' },
			{ word: 'susto' },
			{ word: 'sutil' },
			{ word: 'tabla' },
			{ word: 'tacha' },
			{ word: 'tacho' },
			{ word: 'tacon' },
			{ word: 'tacto' },
			{ word: 'tajar' },
			{ word: 'talar' },
			{ word: 'talco' },
			{ word: 'talla' },
			{ word: 'talle' },
			{ word: 'tallo' },
			{ word: 'talon' },
			{ word: 'tañer' },
			{ word: 'tanto' },
			{ word: 'tapar' },
			{ word: 'tapia' },
			{ word: 'tapiz' },
			{ word: 'tapon' },
			{ word: 'tarde' },
			{ word: 'tarea' },
			{ word: 'tarro' },
			{ word: 'tarta' },
			{ word: 'tasar' },
			{ word: 'tasca' },
			{ word: 'tebeo' },
			{ word: 'techo' },
			{ word: 'tedio' },
			{ word: 'tejas' },
			{ word: 'tejer' },
			{ word: 'telar' },
			{ word: 'telon' },
			{ word: 'temas' },
			{ word: 'temer' },
			{ word: 'temor' },
			{ word: 'tenaz' },
			{ word: 'tener' },
			{ word: 'teñir' },
			{ word: 'tenis' },
			{ word: 'tenor' },
			{ word: 'tenso' },
			{ word: 'tenue' },
			{ word: 'terco' },
			{ word: 'terso' },
			{ word: 'tesar' },
			{ word: 'teson' },
			{ word: 'testa' },
			{ word: 'texto' },
			{ word: 'tibio' },
			{ word: 'tieso' },
			{ word: 'tifon' },
			{ word: 'tilde' },
			{ word: 'timar' },
			{ word: 'timon' },
			{ word: 'tinta' },
			{ word: 'tinte' },
			{ word: 'tique' },
			{ word: 'tirar' },
			{ word: 'tiron' },
			{ word: 'titan' },
			{ word: 'tizne' },
			{ word: 'tocar' },
			{ word: 'tocho' },
			{ word: 'toldo' },
			{ word: 'tomar' },
			{ word: 'tonel' },
			{ word: 'tonto' },
			{ word: 'topar' },
			{ word: 'toque' },
			{ word: 'torax' },
			{ word: 'torca' },
			{ word: 'toril' },
			{ word: 'torna' },
			{ word: 'torpe' },
			{ word: 'torre' },
			{ word: 'torso' },
			{ word: 'torta' },
			{ word: 'tosco' },
			{ word: 'total' },
			{ word: 'traba' },
			{ word: 'traer' },
			{ word: 'trago' },
			{ word: 'traje' },
			{ word: 'trama' },
			{ word: 'tramo' },
			{ word: 'trapo' },
			{ word: 'trata' },
			{ word: 'trato' },
			{ word: 'trazo' },
			{ word: 'trena' },
			{ word: 'treta' },
			{ word: 'tribu' },
			{ word: 'trigo' },
			{ word: 'trino' },
			{ word: 'tripa' },
			{ word: 'triza' },
			{ word: 'troje' },
			{ word: 'trola' },
			{ word: 'trono' },
			{ word: 'tropa' },
			{ word: 'trota' },
			{ word: 'trote' },
			{ word: 'trova' },
			{ word: 'trozo' },
			{ word: 'truco' },
			{ word: 'tumba' },
			{ word: 'tumbo' },
			{ word: 'tunda' },
			{ word: 'tunel' },
			{ word: 'tupir' },
			{ word: 'turba' },
			{ word: 'turbo' },
			{ word: 'turno' },
			{ word: 'tutor' },
			{ word: 'ubica' },
			{ word: 'ubres' },
			{ word: 'ufano' },
			{ word: 'ungir' },
			{ word: 'unido' },
			{ word: 'union' },
			{ word: 'untar' },
			{ word: 'urgir' },
			{ word: 'urnas' },
			{ word: 'usado' },
			{ word: 'usted' },
			{ word: 'usual' },
			{ word: 'utero' },
			{ word: 'uvula' },
			{ word: 'vacar' },
			{ word: 'vacio' },
			{ word: 'vagar' },
			{ word: 'vagon' },
			{ word: 'vaina' },
			{ word: 'valer' },
			{ word: 'valla' },
			{ word: 'valle' },
			{ word: 'vamos' },
			{ word: 'vapor' },
			{ word: 'varon' },
			{ word: 'vasar' },
			{ word: 'vasco' },
			{ word: 'vasto' },
			{ word: 'vater' },
			{ word: 'vedar' },
			{ word: 'vejar' },
			{ word: 'vejez' },
			{ word: 'velar' },
			{ word: 'vello' },
			{ word: 'veloz' },
			{ word: 'venda' },
			{ word: 'vende' },
			{ word: 'venir' },
			{ word: 'venta' },
			{ word: 'veraz' },
			{ word: 'verbo' },
			{ word: 'verde' },
			{ word: 'verja' },
			{ word: 'verse' },
			{ word: 'verso' },
			{ word: 'vetar' },
			{ word: 'viaja' },
			{ word: 'viaje' },
			{ word: 'vicio' },
			{ word: 'video' },
			{ word: 'viejo' },
			{ word: 'vigor' },
			{ word: 'villa' },
			{ word: 'viñas' },
			{ word: 'virus' },
			{ word: 'visar' },
			{ word: 'visor' },
			{ word: 'vista' },
			{ word: 'vital' },
			{ word: 'vivar' },
			{ word: 'vivaz' },
			{ word: 'vivir' },
			{ word: 'voceo' },
			{ word: 'voces' },
			{ word: 'volar' },
			{ word: 'voraz' },
			{ word: 'votar' },
			{ word: 'votos' },
			{ word: 'vuele' },
			{ word: 'vuelo' },
			{ word: 'valor' },
			{ word: 'wafle' },
			{ word: 'water' },
			{ word: 'xenon' },
			{ word: 'xiote' },
			{ word: 'xolos' },
			{ word: 'yacer' },
			{ word: 'yanta' },
			{ word: 'yates' },
			{ word: 'yayos' },
			{ word: 'yegua' },
			{ word: 'yelmo' },
			{ word: 'yermo' },
			{ word: 'yerno' },
			{ word: 'yerro' },
			{ word: 'yesca' },
			{ word: 'yogur' },
			{ word: 'yunta' },
			{ word: 'zafar' },
			{ word: 'zafio' },
			{ word: 'zambo' },
			{ word: 'zampo' },
			{ word: 'zanca' },
			{ word: 'zanco' },
			{ word: 'zanja' },
			{ word: 'zarco' },
			{ word: 'zarpa' },
			{ word: 'zarza' },
			{ word: 'zoclo' },
			{ word: 'zonas' },
			{ word: 'zorro' },
			{ word: 'zueco' },
			{ word: 'zuñir' },
			{ word: 'zurdo' },
			{ word: 'sator' },
			{ word: 'rotas' },
			{ word: 'tenet' },
			{ word: 'opera' },
			{ word: 'arepo' }
		]
		console.log(list_word.length)
		let reset_proc = true;
		let innerHTML = '';
		let index = Math.floor(Math.random() * list_word.length);
		
		let first_word = '';
		let second_word = '';
		let third_word = '';
		let fourth_word = '';
		let fifth_word = '';

		while(reset_proc && index < list_word.length) {
			innerHTML = '';
			palabra.innerHTML = '';
			// Busco la primer palabra
			first_word = list_word.at(index).word;
			second_word = '';
			third_word = '';
			// console.log('first word => ', first_word);
			// list_word.splice(index, 1);
	
			// Busco la tercer palabra. La misma debe de ser capicua
			let letter = first_word.at(2);
			let ok = false;
			let countThird = 0;
			while(!ok && countThird < list_word.length) {
				third_word = list_word.at(countThird).word;
				if(third_word.at(0) === letter) {
					// console.log('third word => ', third_word);
					if(third_word === third_word.split('').reverse().join('')) {
						// Busco la segunda palabra. La misma debe empezar con la segunda letra de la primer palabra y debe terminar con la cuarta letra de la primer palabra
						let letter_one = first_word.split(' ').join('').at(1);
						let letter_two = first_word.split(' ').join('').at(3);
						ok = false;
						let countSecond = 0;
						while(!ok && countSecond < list_word.length) {
							second_word = list_word.at(countSecond).word;
							if(second_word.at(0) === letter_one && second_word.at(4) === letter_two) {
								// console.log('second word => ', second_word);
								// let countFourth = 0;
								// while(!ok && countFourth < list_word.length) {
								// 	fourth_word = list_word.at(countFourth).word;
								// 	if(fourth_word === second_word.split('').reverse().join('')) {
								// 		let countFifth = 0;
								// 		fifth_word = list_word.at(countFifth).word;
								// 		if(fifth_word === first_word.split('').reverse().join('')) {
											fourth_word = second_word.split('').reverse().join(''); 
											fifth_word = first_word.split('').reverse().join('');
											ok = true;
											reset_proc = false;
								// 		}
								// 		else countFifth++;
								// 	}
								// 	else countFourth++;
								// }
							}
							else second_word = '';
							countSecond++;
						}
					}
					else third_word = '';
				}
				else third_word = '';
				countThird++;
			}

			index++;
		}

		if(reset_proc) {
			first_word = '';
			second_word = '';
			third_word = '';
			fourth_word = '';
			fifth_word = '';
		}

		innerHTML += `<p>${first_word.split('').join(' ')}</p>`;
		innerHTML += `<p>${second_word.split('').join(' ')}</p>`;
		innerHTML += `<p>${third_word.split('').join(' ')}</p>`;
		innerHTML += `<p>${second_word.split('').reverse().join(' ')}</p>`;
		innerHTML += `<p>${first_word.split('').reverse().join(' ')}</p>`;

		console.log('finish');
		palabra.innerHTML = innerHTML;
	});
</script>
